<section class="container py-5">
  <h2 class="text-center mb-5">Featured Products</h2>
  <div class="row g-4">

    {% for product in collection.all.products limit:3  %} 

        <div class="col-md-4">
            {%  render 'product-card', product: product %}
        </div>

    {% endfor %}

 
  </div>
</section>

